/* @author: hunter halsted */

/* style for the body */
body {
  width: 725px;
  background-color: azure;
  margin: 10px auto;
}
main {
  width: 50%;
  height: 500px
  background-color: #ffffff;
  float: left;
}
aside {
  width: 50%;
  height: 500px
  background-color: #ffffff;
  float: right;
}
